
h1{

    background-color: blue;
    font-size: 200%;
    width:max-content;

}

h2{

    background-color: brown;
    font-size: 200%;
    width: max-content;

}

h3{

    background-color: aqua;
    font-size: 200%;
    width: fit-content;

}

h4{
    
    background-color:blueviolet;
    font-size: 200%;
    width: 3%;

}

h5 {

    background-color: rgb(32, 70, 70);
    font-size: 200%;
    width: fit-content;

}

h6 {

    background-color: rgb(208, 3, 3);
    font-size: 200%;
    width: fit-content;

}

p {
    
    background-color: rgb(20, 41, 80);
    font-size: 200%; /*era para estar pegando o texto inteiro!!! */
    

}

  .my-dream-car {

    float:inline-end; /* era para coloar a imagem no contro do site!!! */
    width: 950px; /* Define a largura da imagem para 300 pixels */
    height: 600px; /* Define a altura da imagem para 200 pixels */
   
}
 .coffi {
    float:inline-end; /* era para coloar a imagem no contro do site!!! */
    width: 550px; /* Define a largura da imagem para 300 pixels */
    height: 600px; /* Define a altura da imagem para 200 pixels */    

}
 a {
    background-color: rgb(133, 133, 133);
 }
 .strong-01{
    background-color:rgb(117, 117, 117) ;
 }